footer {
  display: table;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: rgba(30, 30, 30, 0.75);
  background-image: linear-gradient(rgba(30, 30, 30, 0.3), rgba(30, 30, 30, 1));
  width: 100%;
  color: white;

  > div {
    display: table-cell;
    vertical-align: middle;
  }
}

.copyright-text {
  font-size: 0.75rem;
}
