$viewport-height: 100vh;
$header-height: 9vh;
$content-height: 86vh;
$footer-height: 5vh;

$header-height-medium-up: 6vh;
$content-height-medium-up: 91vh;
$footer-height-medium-up: 3vh;

header {
    position: fixed;
    top: 0;
    left: 0;
    height: $header-height;
    z-index: 2;
    width: 100%;

    @include breakpoint(medium) {
        height: $header-height-medium-up;
    }
}

main {
    position: relative;
    top: $header-height;
    bottom: $footer-height;
    height: $content-height;
    z-index: 0;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;

    @include breakpoint(medium) {
        top: $header-height-medium-up;
        bottom: $footer-height-medium-up;
        height: $content-height-medium-up;
    }

    .main-content {
        height: inherit;
        overflow-y: scroll;
    }
}

footer {
    position: fixed;
    bottom: 0;
    height: $footer-height;
    text-align: center;
    background: black;
    width: 100%;

    @include breakpoint(medium) {
        height: $footer-height-medium-up;
    }
}

.off-canvas {
    top: $header-height;
    height: $content-height + $footer-height;

    @include breakpoint(medium) {
        top: $header-height-medium-up;
        height: $content-height-medium-up + $footer-height-medium-up;
    }
}

.columns {
    &.collapse-left {
        padding-left: 0;
    }

    &.collapse-right {
        padding-right: 0;
    }
}
