.mobile-menu-container {
    position: relative;
    color: white;
    height: 97%;
    font-weight: 600;

    a {
        color: #00d8ff;
    }
}

.mobile-menu-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.built-by,
.powered-by {
    text-align: center;
    padding: 0.125rem 1rem;
    font-size: 0.9375rem;

    a,
    span {
        vertical-align: middle;
        display: inline-block;
    }
}
